* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all {
    display: flex;
}


.left {
    width: 70%;

}

.buttonColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.buttonColumnPart {
    display: flex;
}

button {
    margin-top: 0 !important;
    margin: 0 20px 20px 20px;
    width: 100px !important;
    padding: 5px;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
}

button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.formInput {
    display: flex;
}

.left input {
    width: 80%;
    height: 30px;
}



button {
    width: 70px;
    font-size: large;
    margin-top: 20px;
}